httpx
requests
pytest
assertpy
fastapi
chardet
urllib3
pydantic
fastapi[all]
jinja2
pandas
numpy
jupyter
python-language-server
jupyter-lsp
jupyter_contrib_nbextensions
Faker
pyarrow
matplotlib
locust
