<html>
<body>
<H1>{{title}}</H1>
<div>
    <img src="https://zeroheight.s3.eu-west-1.amazonaws.com/zeroheight-huddle/logos/sv/40228/logo.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA3AVNYHQKTRCX6VP5%2F20240207%2Feu-west-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20240207T123407Z&amp;X-Amz-Expires=86400&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=71b9646811f0ef611f8c6db9d693c206793c4309d0e5b3124a84229c4414a243" alt="Styleguide logo" class="MultiLogoViewerstyled__LogoStyled-drFGeT iFpyKw">
</div>
<div class="container-fluid">
    <table id="environment" border="1" cellpadding="0" cellspacing="0" style="width: 75%" text-align="center">
        <tbody>
            <tr>
                <th colspan="2" scope="row" style="font-size: 14pt">
                Test execution environment
                </th>
            </tr>
        {% for key, value in environment_information.items() %}
            <tr>
                <th scope="row" style="width: 60%">{{key}}</th>
                <td style="width: 40%; text-align: center">{{value}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="container-fluid">
    <table id="execution_details" border="1" cellpadding="0" cellspacing="0" style="width: 75%">
        <tbody>
            <tr>
                <th colspan="2" scope="row" style="font-size: 14pt">
                Execution details
                </th>
            </tr>
        {% for key, value in execution_summary.items() %}
        <tr>
            <th scope="row">{{key}}</th>
            <td style="text-align: center"> {{value}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="container-fluid">
    <table id="test_case_details" border="1" cellpadding="0" cellspacing="0" style="width: 75%">
        <thead>
            <tr>
                <th colspan="3" scope="row" style="font-size: 14pt">
                Test case details
                </th>
            </tr>
        <tr>
            <th scope="col" style="width: 80%">Test case details</th>
            <th scope="col" style="width: 10%">Run time</th>
            <th scope="col" style="width: 10%">Status</th>
        </tr>
        </thead>
        <tbody>
        {%for test in test_results %}
        {% if test["status"].upper() == "passed".upper() %}
        <tr>
            <th scope="row">{{test["description"]}}</th>
            <td  style="text-align: center">{{test["run_time"]}}</td>
            <td  style="text-align: center"><div style="color:green">{{test["status"].upper()}}</div></td>
        </tr>
        {% else %}
        <tr>
            <th scope="row">{{test["description"]}}</th>
            <td style="text-align: center">{{test["run_time"]}}</td>
            <td style="text-align: center"><div style="color:red">{{test["status"].upper()}}</div></td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>